@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Twitter</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="http://www.twitter.com/haishibai2010" style="color:black">@@HaishiBai2010</a></span>
    </p
</section>